/*
Sections:
Common
Navigation
Header-hero
Why-tiller
Features
Partnerships
Footer

Boje:
-	Tamno plava (pozadina) #101820
-	Svijetlo plava (efektici) #89e6d9
-	Plava (botuni) #0042ce
-	Svijetlo siva (borderi) #eaeaea
*/

/*Common*/
* {
  box-sizing: border-box;
  font-family: Helvetica;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #101820;
}
.layout-spacing {
  max-width: 1200px;
  margin: 80px auto;
}
@media screen and (max-width: 1365px) {
  .layout-spacing {
    margin: 80px 20px;
  }
}

/*Navigation*/
.navigation {
  display: flex;
  height: 80px;
  margin: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #101820;

}
@media screen and (max-width: 1365px) {
  .navigation {
    right: 20px;
    left: 20px;
  }
}
.navigation__wrapper {
  height: 50px;
  width: 1200px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101820;
  z-index: 100;
}
.links-wrapper {
  width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1365px) {
  .links-wrapper {
    display: none;
  }
}
.link__text {
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 300ms ease-out;
}
.link {
  height: 50px;
  display: flex;
  align-items: center;
}

.link:not(:last-child) {
  margin-right: 40px;
}
.triangle {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0 0 4px;
  border-style: solid;
  border-width: 5px 4px;
  border-color: transparent;
  border-top-color: white;
  transition: color 300ms ease-out;
}
.triangle {
  display: inline-block;
  vertical-align: middle;
  margin: 3px 0 0 4px;
  border-style: solid;
  border-width: 5px 4px;
  border-color: transparent;
  border-top-color: white;
}
.link--button {
  height: 50px;
  padding: 0 30px;
  background-color: #0042ce;
  transition: background-color 300ms ease-out;
}
.big-triangle {
  display: inline-block;
  vertical-align: middle;
  margin: -2px -12px 0 8px;
  border-style: solid;
  border-width: 9px 11px;
  border-color: transparent;
  border-left-color: white;
}
.link:hover .link__text {
  color: #89e6d9;
}
.link:hover .triangle {
  border-top-color: #89e6d9;
}
.link:hover .link--button {
  color: white;
  background-color: #89e6d9;
}
.mobile-mini-menu {
  border: 0px solid white;
  background-color: white;
  position: absolute;
  width: 250px;
  top: 100px;
  transition: top 300ms ease-out;
  display: none;
}
.link:hover .mobile-mini-menu {
  display: flex;
  top: 65px;
}
.mobile-mini-menu:hover {
  display: flex;
}
.mobile-links {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.mobile-link {
  margin-top: 20px;
  color: black;
  font-weight: lighter;
  font-size: 13px;
  transition: color 300ms ease-out;
}
.mobile-link:first-child {
  margin-top: 30px;
}
.mobile-link:last-child {
  margin-bottom: 30px;
}
.mobile-photo {
  display: flex;
  align-self: end;
  height: 50%;
}
.mobile-link:hover {
  color: #89e6d9;
}
.hamburger {
  display: none;
}
@media screen and (max-width: 1365px) {
  .hamburger {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    justify-content: space-between;
  }
  .hamburger > div {
    width: 100%;
    height: 3px;
    background-color: white;
  }
}
.hidden {
  opacity: 0;
  position: absolute;
  top: -100px;
  left: -100px;
}
.navigation__wraper-mobile {
  display: none;
}
@media screen and (max-width: 1365px) {
  .navigation__wraper-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    transition: top 300ms ease-out;
  }
}
.hidden:checked ~ .navigation__wraper-mobile {
  top: 80px;
}
.mobile-center {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.link:checked .mobile-mini-menu {
  display: flex;
  top: 65px;
}

/*Header-hero*/
.header-hero{
  width: 100%;
  height: 1000px;
  margin-top: 200px;
}
.header-hero__wrappper{
  position: sticky;
  top: 200px;
  width: 100%;
  margin-top: 100px;
  
  z-index: 3;
}
h4{
  font-size: 34px;
  color: white;
  font-family: sans-serif;
  margin-bottom: 20px;
}
h1{
  font-family:serif;
  font-size: 60px;
  color:white;
}
@media screen and (max-width: 875px)
{
  h4{
    font-size: 28px;
  }
  h1{
    font-size: 50px;
  }
}

/*Why-tiller*/
.blue{
  margin-top: 300px;
  width: 100%;
  height: 570px;
  position: relative;
  background-color: #89e6d9;
}
.white{
  width: 95%;
  height: 110%;
  position: absolute;
  top:-20%;
  background-color: white;
  bottom: 30px;
}
.white__text{
  z-index: 85;
  width: 70%;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 20px;
}
@media screen and (max-width: 875px) {
  .white__text{
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
h5{
  font-size: 26px;
  color: black;
  font-family: sans-serif;
  margin-bottom: 20px;
}
h3{
  font-family:serif;
  font-weight: 700;
  font-size: 48px;
  color:black;
  width: 100%;
  max-width: 100%;
  line-height: 62px;
  margin-bottom: 30px;
}
.why-tiller__img{
  position: absolute;
  bottom:10%;
  right: 5%;
}
@media screen and (max-width: 875px) {
  .why-tiller{
    height: fit-content;
  }
  .why-tiller__img{
    display: none;
  }
  .white__text{
    width: 100%;
    padding-bottom: 20px;
  }
  .white{
    padding-right: 30px;
    height: fit-content;

  }

  h3{
    line-height: 40px;
    font-size: 35px;
  }
  .blue{
    height: 300px;
  }
}
@media screen and (max-width: 620px) {
  .blue{
    height: 385px;
  }
}
@media screen and (max-width: 413px) {
  .blue{
    height: 510px;
  }
}

/*Features*/
.features{
  width: 100%;
  padding-top: 40px;
}
.features__wrapper{
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
}
.sticky-img{
  width: 40%;
  position: sticky;
  top: 100px;
}
.cube{
  width: 520px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-bottom: 50px;
  max-width: 520px;
}
.h3-cube{
  color: white;
}
.h5-cube{
  color: white;
}
.button-cube{
  height: 50px;
  padding: 0 30px;
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 300ms ease-out;
}

.link:hover .button-cube{
  background-color: white;
  color: #0042ce;
}
.big-triangle-cube{
  display: inline-block;
  vertical-align: middle;
  margin: -2px -12px 0 8px;
  border-style: solid;
  border-width: 9px 11px;
  border-color: transparent;
  border-left-color: white;
}
.link:hover .big-triangle-cube{
  border-left-color:#0042ce;
}
@media screen and (max-width: 875px)
{
  .features__wrapper{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .sticky-img{
    position:static;
  }
  .cube{
    width:100% ;
  }
  .h3-cube{
    width: 100%;
  }
  .h5-cube{
    width:100%
  }
}

/*Partnerships*/
.layout-spacing-2 {
  width: 100%;
  background-color: white;

}
.partnerships{
  margin-top: 300px;
  max-width: 1200px;
  margin: 80px auto;
  background-color: white;
  padding-top: 100px;
}
@media screen and (max-width: 1365px) {
  .partnerships {
    margin: 80px 20px;
  }
}

.partnerships__wrapper-overflow{
  margin-top: 50px;
  overflow-x: scroll;
  margin-right: -100px;
}
.partnerships__wrapper{
  width: fit-content;
  display:flex;
  width: 100%;
}
.black{
  color: black;;
}
.partnerships__header{
  display: flex;
  justify-content: space-between;
}
.button-last{
  margin-top: 30px;
  color:#0042ce
}
.triangle-last{
  border-left-color:#0042ce;
}
.link:hover .triangle-last{
  border-left-color:#89e6d9;
}
.partnerships__wrapper:not(:last-child) {
  margin-right: 40px;
}
.partnership-img{
  margin-right: 20px;
}
@media screen and (max-width: 1365px) {
  .partnerships__header{
    flex-direction: column;
  }
  .partnerships__wrapper{
    flex-direction: column;
    align-items: center;
  }
  .partnerships__wrapper-overflow{
    margin-top: 50px;
    overflow-x:initial;
    margin-right: 0px;
  }
  .partnership-img{
    width: 100%;
    margin: 20px;
  }
}

/*Footer*/
.footer{
  padding-top: 100px;
  margin-top: 100px;
  max-width: 1200px;
  margin: 80px auto;
  margin-bottom: -100px;
  background-color: white;
}
@media screen and (max-width: 1365px) {
  .footer {
    margin: 80px 20px;
  }
}

.footer__wrapper{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2px solid #efefef;
}
.last-links{
  width:100px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.bold{
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
  width: 100%;
}
.b{
  margin-left: 0;
  width: 100%;
}
.badges{
  display: flex;
  flex-direction: column;
}
.badge-img{
  margin-bottom: 20px;
}
.c{
  border: 1px solid #0042ce;
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
}
.right-div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ff{
  border: 0;
  margin:0;
  padding-top: 10px;
}
.media{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.end{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jj{
  margin:0;
  padding:0;
}
@media screen and (max-width: 1365px) {
  .footer__wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .end{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}




